@use "./global/" as *;

footer {
  background: $footer-background;
  text-align: center;
  padding: 60px 0;

  h4 {
    color: $dcyan-text;
    font-size: 35px;
    margin-bottom: 20px;
  }
  .ftr-list {
    @include flex;
    justify-content: center;
    margin-bottom: 50px;

    > li {
      margin: 0 20px;

      a {
        color: $dcyan-text;
      }
    }
  }
  .ftr-icon {
    @include flex;
    justify-content: center;

    > li {
      margin: 0 10px;
    }
  }
}
